In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [11]:
# We can view all of the classes that automap found
Base.classes.keys()

In [ ]:
# Save references to each table

measurement = Base.classes.measurement
station=Base.classes.station

In [12]:
# Create our session (link) from Python to the DB
session=Session(engine)

# Exploratory Climate Analysis

In [17]:
first_row = session.query(measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11fb74fd0>,
 'station': 'USC00519397',
 'prcp': 0.08,
 'tobs': 65.0,
 'id': 1,
 'date': '2010-01-01'}

In [19]:
first_row = session.query(station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11fcd6190>,
 'station': 'USC00519397',
 'latitude': 21.2716,
 'elevation': 3.0,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'longitude': -157.8168}

In [29]:
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [30]:
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [26]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
for row in session.query(measurement.date,measurement.prcp).limit(330).all():
    print(row)

('2010-01-01', 0.08)
('2010-01-02', 0.0)
('2010-01-03', 0.0)
('2010-01-04', 0.0)
('2010-01-06', None)
('2010-01-07', 0.06)
('2010-01-08', 0.0)
('2010-01-09', 0.0)
('2010-01-10', 0.0)
('2010-01-11', 0.01)
('2010-01-12', 0.0)
('2010-01-14', 0.0)
('2010-01-15', 0.0)
('2010-01-16', 0.0)
('2010-01-17', 0.0)
('2010-01-18', 0.0)
('2010-01-19', 0.0)
('2010-01-20', 0.0)
('2010-01-21', 0.0)
('2010-01-22', 0.0)
('2010-01-23', 0.0)
('2010-01-24', 0.01)
('2010-01-25', 0.0)
('2010-01-26', 0.04)
('2010-01-27', 0.12)
('2010-01-28', 0.0)
('2010-01-30', None)
('2010-01-31', 0.03)
('2010-02-01', 0.01)
('2010-02-03', None)
('2010-02-04', 0.01)
('2010-02-05', 0.0)
('2010-02-06', 0.0)
('2010-02-07', 0.0)
('2010-02-08', 0.0)
('2010-02-09', 0.0)
('2010-02-11', 0.0)
('2010-02-12', 0.02)
('2010-02-13', 0.01)
('2010-02-14', 0.0)
('2010-02-15', 0.0)
('2010-02-16', 0.0)
('2010-02-17', 0.0)
('2010-02-19', None)
('2010-02-20', 0.03)
('2010-02-21', 0.0)
('2010-02-22', 0.0)
('2010-02-23', 0.0)
('2010-02-24', 0.0)
('2010-02-25', 0.0)
('2010-02-26', 0.0)
('2010-02-28', 0.0)
('2010-03-01', 0.01)
('2010-03-02', 0.0)
('2010-03-03', 0.0)
('2010-03-04', 0.12)
('2010-03-05', 0.08)
('2010-03-06', 0.03)
('2010-03-07', 0.0)
('2010-03-08', 0.43)
('2010-03-09', 0.06)
('2010-03-11', None)
('2010-03-12', 0.0)
('2010-03-13', 0.0)
('2010-03-14', 0.0)
('2010-03-15', 0.06)
('2010-03-17', 0.0)
('2010-03-18', 0.0)
('2010-03-21', 0.0)
('2010-03-22', 0.0)
('2010-03-23', 0.0)
('2010-03-24', 0.0)
('2010-03-26', None)
('2010-03-27', 0.0)
('2010-03-28', 0.0)
('2010-03-29', 0.0)
('2010-03-30', 0.0)
('2010-03-31', 0.0)
('2010-04-01', 0.0)
('2010-04-02', 0.01)
('2010-04-03', 0.17)
('2010-04-04', 0.15)
('2010-04-05', 0.27)
('2010-04-06', 0.01)
('2010-04-08', 0.0)
('2010-04-09', 0.01)
('2010-04-10', 0.0)
('2010-04-11', 0.01)
('2010-04-12', 0.01)
('2010-04-13', 0.0)
('2010-04-15', 0.0)
('2010-04-16', 0.01)
('2010-04-17', 0.0)
('2010-04-18', 0.0)
('2010-04-19', 0.0)
('2010-04-20', 0.04)
('2010-04-21', 0.01)
('2010-04-22', 0.0)
('2010-04-23', 0.02)
('2010-04-24', 0.0)
('2010-04-25', 0.0)
('2010-04-26', 0.0)
('2010-04-28', 0.0)
('2010-04-30', 0.0)
('2010-05-01', 0.0)
('2010-05-02', 0.03)
('2010-05-03', 0.2)
('2010-05-04', 0.08)
('2010-05-05', 0.01)
('2010-05-06', 0.0)
('2010-05-07', 0.05)
('2010-05-08', 0.0)
('2010-05-09', 0.0)
('2010-05-10', 0.0)
('2010-05-11', 0.0)
('2010-05-13', 0.0)
('2010-05-14', 0.0)
('2010-05-15', 0.0)
('2010-05-16', 0.03)
('2010-05-17', 0.0)
('2010-05-18', 0.0)
('2010-05-19', 0.0)
('2010-05-21', None)
('2010-05-22', 0.0)
('2010-05-23', 0.05)
('2010-05-24', 0.0)
('2010-05-25', 0.0)
('2010-05-26', 0.02)
('2010-05-27', 0.0)
('2010-05-28', 0.0)
('2010-05-29', 0.0)
('2010-05-30', 0.0)
('2010-05-31', 0.0)
('2010-06-01', 0.0)
('2010-06-02', 0.01)
('2010-06-03', 0.0)
('2010-06-04', 0.0)
('2010-06-05', 0.0)
('2010-06-06', 0.0)
('2010-06-07', 0.0)
('2010-06-08', 0.0)
('2010-06-09', 0.0)
('2010-06-10', 0.0)
('2010-06-11', 0.0)
('2010-06-12', 0.0)
('2010-06-13', 0.0)
('2010-06-14', 0.0)
('2010-06-15', 0.0)
('2010-06-16', 0.0)
('2010-06-17', 0.0)
('2010-06-18', 0.0)
('2010-06-19', 0.0)
('2010-06-20', 0.0)
('2010-06-21', 0.0)
('2010-06-22', 0.0)
('2010-06-23', 0.0)
('2010-06-24', 0.0)
('2010-06-25', 0.0)
('2010-06-26', 0.02)
('2010-06-27', 0.0)
('2010-06-28', 0.0)
('2010-06-29', 0.0)
('2010-06-30', 0.0)
('2010-07-01', 0.01)
('2010-07-02', 0.05)
('2010-07-03', 0.09)
('2010-07-04', 0.05)
('2010-07-05', 0.06)
('2010-07-06', 0.08)
('2010-07-07', 0.08)
('2010-07-08', 0.03)
('2010-07-09', 0.06)
('2010-07-10', 0.09)
('2010-07-11', 0.0)
('2010-07-12', 0.0)
('2010-07-13', 0.0)
('2010-07-16', None)
('2010-07-17', 0.02)
('2010-07-18', 0.0)
('2010-07-19', 0.04)
('2010-07-21', 0.0)
('2010-07-22', 0.0)
('2010-07-24', 0.0)
('2010-07-25', 0.0)
('2010-07-26', 0.0)
('2010-07-27', 0.0)
('2010-07-28', 0.0)
('2010-07-29', 0.0)
('2010-07-30', 0.0)
('2010-07-31', 0.02)
('2010-08-01', 0.04)
('2010-08-02', 0.01)
('2010-08-03', 0.02)
('2010-08-04', 0.07)
('2010-08-05', 0.08)
('2010-08-06', 0.03)
('2010-08-07', 0.0)
('2010-08-08', 0.0)
('2010-08-09', 0.0)
('2010-08-10', 0.0)
('2010-08-11', 0.0)
('2010-08-12', 0.0)
('2010-08-13', 0.0)
('2010-08-14', 0.0)
('2010-08-15', 0.01)
('2010-08-16', 0.0)
('2010-08-17', 0.05)
('2010-08-18', 0.0)
('2010-08-19', 0.0)
('2010-08-20', 0.0)
('2010-08-21', 0.0)
('2010-08-22', 0.0)
('2010-08-23', 0.01)
('2010-08-24', 0.0)
('2010-08-25', 0.04)
('2010-08-26', 0.03)
('2010-08-27', 0.0)
('2010-08-28', 0.04)
('2010-08-29', 0.0)
('2010-08-30', 0.0)
('2010-08-31', 0.0)
('2010-09-01', 0.0)
('2010-09-02', 0.02)
('2010-09-03', 0.04)
('2010-09-04', 0.01)
('2010-09-05', 0.0)
('2010-09-06', 0.0)
('2010-09-07', 0.06)
('2010-09-08', 0.0)
('2010-09-09', 0.0)
('2010-09-10', 0.0)
('2010-09-11', 0.05)
('2010-09-12', 0.0)
('2010-09-13', 0.0)
('2010-09-14', 0.0)
('2010-09-15', 0.0)
('2010-09-16', 0.0)
('2010-09-17', 0.0)
('2010-09-19', 0.0)
('2010-09-20', 0.0)
('2010-09-21', 0.0)
('2010-09-22', 0.04)
('2010-09-23', 0.0)
('2010-09-24', 0.0)
('2010-09-25', 0.0)
('2010-09-26', 0.0)
('2010-09-27', 0.0)
('2010-09-28', 0.0)
('2010-09-29', 0.0)
('2010-09-30', 0.57)
('2010-10-01', 0.31)
('2010-10-02', 0.03)
('2010-10-03', 0.0)
('2010-10-04', 0.06)
('2010-10-05', 0.0)
('2010-10-06', 0.0)
('2010-10-07', 0.0)
('2010-10-08', 0.0)
('2010-10-09', 0.0)
('2010-10-10', 0.0)
('2010-10-11', 0.0)
('2010-10-12', 0.0)
('2010-10-13', 0.0)
('2010-10-15', 0.0)
('2010-10-16', 0.0)
('2010-10-17', 0.0)
('2010-10-18', 0.0)
('2010-10-19', 0.07)
('2010-10-20', 0.0)
('2010-10-21', 0.0)
('2010-10-22', 0.0)
('2010-10-23', 0.0)
('2010-10-24', 0.0)
('2010-10-25', 0.0)
('2010-10-26', 0.07)
('2010-10-27', 0.05)
('2010-10-28', 0.06)
('2010-10-29', 0.03)
('2010-10-30', 0.02)
('2010-10-31', 0.0)
('2010-11-01', 0.01)
('2010-11-02', 0.01)
('2010-11-04', None)
('2010-11-05', 0.0)
('2010-11-06', 0.0)
('2010-11-07', 0.0)
('2010-11-08', 0.0)
('2010-11-09', 0.0)
('2010-11-10', 0.23)
('2010-11-11', 0.0)
('2010-11-12', 0.0)
('2010-11-13', 0.0)
('2010-11-16', 0.0)
('2010-11-17', 0.0)
('2010-11-19', None)
('2010-11-20', 0.03)
('2010-11-21', 0.0)
('2010-11-22', 0.0)
('2010-11-23', 0.0)
('2010-11-24', 0.0)
('2010-11-25', 0.0)
('2010-11-27', 0.0)
('2010-11-28', 0.0)
('2010-11-29', 0.0)
('2010-11-30', 0.0)
('2010-12-01', 0.04)
('2010-12-03', 0.0)
('2010-12-04', 0.0)
('2010-12-06', 0.0)
('2010-12-07', 0.0)
('2010-12-08', 0.0)
('2010-12-09', 0.0)
('2010-12-10', 1.58)
('2010-12-11', 0.77)
('2010-12-12', 0.0)
('2010-12-13', 0.0)
('2010-12-14', 0.0)
('2010-12-15', 0.0)
('2010-12-16', 0.0)
('2010-12-17', 0.0)
('2010-12-18', 0.0)
('2010-12-19', 1.4)
('2010-12-23', 0.0)
('2010-12-24', 0.0)
('2010-12-26', None)
('2010-12-27', 0.13)
('2010-12-28', 0.55)
('2010-12-29', 0.06)
('2010-12-30', 0.01)
('2010-12-31', 0.0)

In [39]:
# Calculate the date 1 year ago from the last data point in the database

SyntaxError: keyword can't be an expression (<ipython-input-39-6ba690acbabe>, line 3)

In [ ]:
# Perform a query to retrieve the data and precipitation scores
for row in session.query(Dow.stock, Dow.volume).limit(15).all():
    print(row)

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column

In [ ]:
# Sort the dataframe by date

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`